main{
  width: 75%;
  margin: auto;
}
.banner{
  height: 85px;
  background-color:#4EA0FF;
    background-image: url(pattern.png);
  background-size: 50%
}

.banner img{
  height: 50px;
  margin-left: 12.5%;
  margin-top: 25px;
  
}
.details{
  color: gray;
}
.author{
  color: #4EA0FF;
}
.didascalia{
  font-size: smaller;
}

.elenco{
  margin-left:auto;
}
th{
  /* width: 100px; */
  background-color: #20A9E5;
}
table{
  width: 100%;
  text-align: center;
}
table tr:nth-child(even){
  background-color:#B1E5F2;
}
footer{
  width: 75%;
  margin: auto;
}
.ad{
  position:relative;
}
.tl{
  position: absolute;
  top: 8px;
  left: 16px;
  color: white;
  font-size: x-large;
  font-weight: bolder;
}